:root {
	--red: #e74c3c;
	--blue: rgb(1,115,199);
	--green: #1abc9c;
	--yellow: #f1c40f;
	--grey: rgb(1,115,199); //linear-gradient(to bottom, #686868 0%,#b5b5b5 47%,#b2b2b2 53%,#f2f2f2 100%);
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body { 
	margin: 0; 
	font-family: 'Raleway', sans-serif; 
}

.btn {
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  border: 2px solid rgba(0,0,0,0.2);
}

.btn:hover {
	filter: brightness(110%);
	border: 2px solid rgba(255,255,255,0.3);
}

.panel {
	margin: 6px;
	padding: 0;
	padding-bottom: 10px;
	border-radius: 15px;
	box-shadow: 0 0 10px gray;
	padding-top: 40px;
	
	background-repeat: no-repeat;
	background-position: -20px -10px;
}


.panel .btn {
	margin: 10px;
	display: block;
	background: rgba(0,0,0,0.1);
}

.panel h2 {
		background: rgba(0,0,0,0.5);
		color: white;
		line-height: 3em;
		text-align: center;
		margin: 0;
		font-weight: bold;
}

#footer {
	background: var(--grey);
	height: 100px;
	margin-top: 20px;
}