body {
	margin-top: 120px;
}

#header {
	position: fixed;
	z-index: 100;
	top: 0;
	background: white; //var(--blue); rgb(1,115,199); // #0584CB;
	height: 120px;
	width: 100%;
	padding: 15px;
	padding-left: 15%;
	padding-right: 15%;
	box-shadow: 0 0 5px 5px #444;
	background-position: center;
	background-image: url(headerbg.jpg);
	background-blend-mode: multiply;
	background-size: cover;
}

#logo {
	height: 95px;
}

.title {
	width: 100%;
	height: 80px;
	background: var(--grey);
	padding: 10px;
	padding-left: 15%;
	color: white;
}
.divide {
	padding-right: 5px; border-right: 1px solid rgba(255, 255, 255, 0.3);
}
h1 { padding: 10px; margin: 0; font-size: 2.3em; font-weight: normal}
	
#menu {
	position: absolute;
	margin-left: 50px;
	bottom: 0;
	font-size: 1.1em;
}

#menu a {
	color: black;
	text-decoration:  none;
	display: inline-block;
	padding: 6px;
	padding-top: 7px;
}

#menu a:hover {
	background: rgba(42,138,212, 0.75);
}

.selected {
	background: white;
	color: rgb(1,115,199) !important;
	border-top: 1px solid rgb(1,89,154);
	border-left: 1px solid rgb(1,89,154);
	border-right: 1px solid rgb(1,89,154);
}

.selected:hover {
	background: white !important;
	color: rgb(1,115,199) !important;
}

#rightmenu {
	float: right;
}

#rightmenu #email {
	display: none;
}

.panel {
	width: 23%;
}


.row {
	display: flex;
	justify-content: center;
}

.panel p { padding: 10px; color: white; text-align: center; }

.btn span { font-size: 0.7em; }

#footer {
	background: var(--grey);
	height: 200px;
	margin-top: 20px;
}
.panel h3 {
	color: white;
	text-align: right;
	margin-right: 30px;
}

.siema {
	display: block;
	width: 71%;
	height: 200px;
	margin: 10px;
}

.siema .tab {
	height: 200px;
	display: flex;
	justify-content: space-between;
}

.siema .item {
	width: 25%;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}